body
{
  margin: 0;
  height: 100vh;
  background: 
    url("Img/Wallpaper.png"); 
  background-position: center; 
  background-repeat: repeat;   
  background-size: auto;     


}
#cosas
{
    position: absolute;
    left: 24%;
    transform: translateX(-50%);
}
#listatotal
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.imagen-con-texto {
    position: relative;
    display: inline-block;
}

.imagen-con-texto:hover .texto-imagen {
    opacity: 1;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.texto-imagen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 8px 16px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-size: 1.2rem;
    text-align: center;
}

.centramiento
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}



#casino
{
    width:200px ;
    height: 100px;
    align-items: center;    
    
}
.boto
{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.boto:first-child{
    background-color: #007bff;
    color: white;
}
.boto:last-child{
    background-color: #00ff3c;
    color: white;
}
.imagenes {
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 160px; /* Baja las imágenes un poco */
}

.imagenes2 {
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px; /* Baja las imágenes un poco */
}

.mantenerAspecto {
    width: 350px;
    height: 220px;
    object-fit: contain;
    display: block;
}

.mantenerAspecto:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}




