body
{
  margin: 0;
  height: 80vh;
  background:linear-gradient(90deg,#ffffffd8 0%, #000000 100%);
  background-position: center; 
  background-repeat: repeat;   
  background-size: auto;     

}

.imagenes {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
   
    background:linear-gradient(90deg,#f082b5d8 0%, #ef4444 100%);
}
#imagen-con-texto {
    position: relative;
    display: inline-block;
}
#conte_derecha
{
    font-size: 20px;
}
#imagenruleta
{
    height: 415px;
}
.antes_caja_reglas{
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg,#04c950 0%, #04be58 100%);
    }
.caja-reglas {
      background: white;
      margin: 5% auto;
      padding: 20px;
      width: 60%;
      max-height: 80vh; /* límite de alto */
      border-radius: 8px;
      overflow-y: auto;
    }
.cerrar {
      display: block;
      margin-top: 20px;
      background: #f33;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      cursor: pointer;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse; /* evita doble borde */
}
th, td {
  text-align: center;  /* izquierda, derecha, center */
  padding: 8px;        /* espacio interno de la celda */
}
td {
  width: 150px;
}
#despues_top
{
    display: flex;
    justify-content: space-evenly;
}
#top
{
  color: white;
    background:linear-gradient(90deg,#0325bb9d 0%, #0205b3b7 100%);
}
button, 
a {
  display: inline-block;        /* Para que <a> se comporte como botón */
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #4CAF50, #2E7D32); /* Degradado bonito */
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;        /* Quita subrayado en <a> */
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover,
a:hover {
  transform: scale(1.05); /* Se agranda un poco */
  background: linear-gradient(135deg, #66BB6A, #388E3C);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}
.btn-outline {
 
  border: 2px solid #4CAF50;
  color: #4CAF50;
}
.btn-outline:hover {
  background: #4CAF50;
  color: white;
}

.btn-round {
  border-radius: 50px;
  padding: 10px 18px;
}